OnvifDist
build*/
/libexe/OnvifDeviceLib.dll
/libexe/OnvifMedia2Lib.dll
/libexe/OnvifMedia2Lib.exe
/libexe/OnvifMedia2Lib.exp
/libexe/OnvifMedia2Lib.ilk
/libexe/OnvifMedia2Lib.lib
/libexe/OnvifMedia2Lib.pdb
/libexe/OnvifServer.pdb
/libexe/SENT.log
/libexe/TEST.log
/libexe/libeay32.dll
/libexe/log/GetOSDs.log
/libexe/log/createOSD_Recv.log
/libexe/log/createOSD_Sent.log
/libexe/log/getProfileTokens.log
/libexe/log/vsToken_Recv.log
/libexe/log/vscToken_Recv.log
/libexe/log/vscToken_Sent.log
/libexe/ssleay32.dll
/onviflibs/OnvifAnalyticsLib/OnvifAnalyticsLib.pro.user.9b73e31
/onviflibs/OnvifImagingLib/OnvifImagingLib.pro.user.9b73e31
/onviflibs/OnvifMediaLib/OnvifMediaLib.pro.user.9b73e31
/onviflibs/OnvifPTZLib/OnvifPTZLib.pro.user.9b73e31
/onviflibs/OnvifReceiverLib/OnvifReceiverLib.pro.user.9b73e31
/onviflibs/OnvifRecordingControlLib/OnvifRecordingControlLib.pro.user.9b73e31
/onviflibs/OnvifRecordingSearchLib/OnvifRecordingSearchLib.pro.user.9b73e31
/onviflibs/OnvifReplayControlLib/OnvifReplayControlLib.pro.user.9b73e31
/onviflibs/OnvifVideoAnalyticsDeviceLib/OnvifVideoAnalyticsDeviceLib.pro.user.9b73e31
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/include/onvif.h
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/onvifMedia.nsmap
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/onvifMediaC.cpp
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/onvifMediaH.h
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/onvifMediaMediaBindingProxy.cpp
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/onvifMediaMediaBindingProxy.h
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/onvifMediaStub.h
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/wsdl/event.wsdl
/onviflibs/gsoap/gsoap-2.8/gsoap/bin/win32/wsdl/media.wsdl
/onviflibs/onvifcore/OnvifDeviceLib/OnvifDeviceLib.pro.user.9b73e31
/onviflibs/onvifcore/OnvifEventLib/OnvifEventLib.pro.user.9b73e31
